@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Quicksand:wght@300..700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

:root {
    --primary-color: #474747;
    --primary-color2: #AD343E;
    --primary-font-family: "Quicksand", sans-serif;
    --color-background: #F9F9F7;
    --color-header-top: #474747;
    --color-header: #FFFFFF;
    --color-menu-link: #2C2F24;
    --color-border: #2C2F24;
    --color-menu-link-hover: #AD343E;
    --color-button: #182226;
    --color-footer: #474747;
    --color-content-footer: #ADB29E;
    --color-dark: #fff;
    --max-width: 1600px;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--primary-font-family);
    background-color: var(--color-background);
}

header {
    max-width: 100%;
    height: 154px;
    background-color: var(--color-header);
}

a {
    text-decoration: none;
}

.header__topbar {
    width: 100%;
    height: 45px;
    background-color: var(--color-header-top);
}

.header {
    height: 100px;
    max-width: 1293px;
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.header__logo {
    display: flex;
    align-items: center;
    text-decoration: none;

}

.header__logo span {
    font-size: 2rem;
    font-weight: 600;
    color: var(--primary-color);
    font-family: "Playfair Display", serif;
    font-style: italic;
    letter-spacing: -0.4px;
    line-height: 29.33px;
    margin-left: 5px;
}


.nav__menu-list {
    display: flex;
    align-items: center;
    gap: 54px;
    list-style: none;
}

.list__item-links {
    font-family: var(--primary-font-family);
    text-decoration: none;
    font-weight: 600;
    font-size: 1.10rem;
    color: var(--color-menu-link);
    border-bottom: 3px solid transparent;
    transition: 0.5s;
}

.list__item-links:hover {
    color: var(--color-menu-link-hover);
    border-color: var(--color-menu-link-hover);

}

.header__btn>.btn__table-order {
    font-family: var(--primary-font-family);
    color: var(--color-button);
    text-decoration: none;
    font-weight: 600;
    font-size: 1.10rem;
    border: 1.5px solid var(--color-border);
    border-radius: 999px;
    padding: 0.75rem 1.5rem;
    transition: background-color 0.3s ease-in-out;
}

.header__btn>.btn__table-order:hover {
    color: var(--color-dark);
    background-color: var(--color-menu-link-hover);
    border-color: var(--color-menu-link-hover);
}

.header__nav-button {
    display: none;
}


/* Section */
.container {
    max-width: 1293px;
    width: 100%;
    margin: 0 auto;
    padding: 4rem 2rem;
}

.banner__content-image {
    position: relative;
}

.banner__content-card {
    position: absolute;
    max-width: 400px;
    width: 100%;
    height: 300px;
    background-color: var(--primary-color);
    color: var(--color-dark);
    border-radius: 12px;
    padding: 3rem;
    top: 40%;
    left: 20%;
}



.content__card-content>p {
    margin: 2rem 0;
}

/* FOOTER */
footer {
    /* height: 778px; */
    background-color: var(--color-footer);
    color: var(--color-dark);
}

.footer__container {
    max-width: 1293px;
    width: 100%;
    margin: 0 auto;
    padding: 4rem 1rem 2rem;
}

.footer__logo {
    display: flex;
    align-items: center;
}

.footer__logo span {
    font-size: 2rem;
    font-weight: 600;
    color: var(--color-dark);
    font-family: "Playfair Display", serif;
    font-style: italic;
    letter-spacing: -0.4px;
    line-height: 29.33px;
    margin-left: 5px;
}

.footer__content-top {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-content-footer);

}

.footer__content--col-1,
.footer__content--col-2,
.footer__content-support,
.footer__follow-me {
    flex: 1;
    min-width: 200px;
}

.footer__content--col-2 {
    display: flex;
    gap: 70px;
}

.footer__content--col-1>p {
    font-size: 1rem;
    line-height: 24px;
    color: var(--color-content-footer);
    margin: 1rem 0;
}

.footer__content-social>a>i {
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background-color: var(--primary-color2);
    border-radius: 50%;
    color: var(--color-dark);
}

.footer__title-name {
    font-weight: 700;
    font-size: 1rem;
    line-height: 24px;
    color: var(--color-dark);
}


.footer__content--list-page,
.content__support-list {
    list-style: none;
    color: var(--color-content-footer);

}

.content__page-item,
.support__list-item,
.footer__box-img {
    margin: 1.5rem 0;
}

.page__item-links,
.support__list--item-links {
    color: var(--color-content-footer);
    font-size: 1rem;
    font-weight: 500;
    transition: color 0.2s ease-in-out;
}

.page__item-links:hover,
.support__list--item-links:hover {
    color: var(--color-menu-link-hover);
}

.footer__box-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;

}

.footer__box-img>img {
    width: 100%;
    height: auto;
    border-radius: 12px;

}

.footer__content-copyright {
    margin-top: 10px;
    text-align: center;
}

/* Responsive */
@media (max-width: 858px) {
    .header__topbar {
        display: none;
    }

    .header__container {
        height: 109px;
        background-color: var(--color-header-top);
    }

    .header__nav-links {
        display: none;
        position: absolute;
        top: 100px;
        left: 0;
        width: 100%;
        background-color: var(--color-dark);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        text-align: center;
        padding: 10px 0;
        z-index: 999;
    }

    .nav__menu-list {
        display: flex;
        flex-direction: column;
        gap: 10px;
        list-style: none;
        padding: 0;
    }

    .list__item-links {
        display: block;
        padding: 10px;
        font-size: 1.2rem;
        font-weight: 600;
        color: var(--color-menu-link);
        text-decoration: none;
        transition: 0.3s;
    }

    .list__item-links:hover {
        color: var(--color-menu-link-hover);
    }

    .header__nav-links.active {
        display: block;
    }

    .header {
        /* position: fixed; */
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 2rem;
    }

    .header__btn {
        display: none;
    }

    .header__nav-button {
        display: flex;
        margin-left: auto;
        color: var(--color-dark);
        font-size: 2rem;
    }

    .header__logo span {
        color: var(--color-dark);
    }

    .footer__content-top {
        flex-direction: column;
    }

    .footer__content--col-2 {
        flex-direction: column;
        gap: 20px;
    }
}